awscli==1.10.9
boto3==1.2.3
botocore==1.4.0
colorama==0.3.3
docutils==0.12
futures==3.0.4
jmespath==0.9.0
logging==0.4.9.6
newrelic==2.60.0.46
pyasn1==0.1.9
pymongo==3.2.2
python-dateutil==2.4.2
requests==2.9.1
rsa==3.3
s3transfer==0.0.1
simplejson==3.8.2
six==1.10.0
wheel==0.26.0
